@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

:root{
    --cor-de-fundo: rgb(19, 19, 124);
    --cor-de-letra: #fff;
    --letra-preta: #333;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*-------------------- Parte do titulo, descrição e imagem da pagina de inicio  ------------------*/

.cabeçalho { 
    display: flex;
    flex-direction: row;

    img {
        left: 3rem;
        position: relative;
        width: 20rem;
        height: 8rem;
        margin: 1rem;
        border-radius: 10rem;
    }
}

header{
    .titulo {
        display: flex;
        flex-direction: column;
        color: var(--cor-de-letra);
        text-align: center;
        font-size: 70px;
        font-family: "Tektur", sans-serif;
        padding: 20px;    
    }

    p {
        color: var(--cor-de-letra);
        text-align: center;
        padding-bottom: 10px;
    }
}

/*----------------------------------- Parte do quadrado de regras -------------------------------------------*/
.regras{
    margin: 0 20%;
    padding: 2% 2%;
    background-color: aliceblue;
    border: 2px;
    border-radius: 20px;
    text-align: justify;
    h3 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: var(--letra-preta);
        text-align: center;
        padding-bottom: 1%;
    }
}

.navios {
    padding: 0;
    margin-left: 4%;
    text-decoration: none;
}

.Lista_regras {
    list-style-position: inside ;
}

.Lista_Navios {
    abbr{
        text-decoration: none;
        em {
            color:rgb(186, 7, 7);
            cursor: pointer;
        }
    }
}

/* ------------------- Parte do Footer -------------------------*/
.rodape {
    background-color: aliceblue;
    text-align: center;
    font-size: 0.8pc;
    margin-top: 1%;
    padding: 1%;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* ------------------- Parte do Botão Start ------------------- */
.botao{
    background-color: hsl(30, 100%, 50%);
    margin: 2%;
    text-align: center;
    font-weight: bold;
    padding: .5em 1em;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: .2rem;
    text-decoration: none;
    color: var(--letra-preta);
}

.botao:hover, .botao:focus{
    background-color: hsl(30, 100%, 40%);
    transition: 0.3s;
}
        
/* ------------------- Parte do Tabuleiro ------------------- */
.jogo{
    display: none;
}

.container{
    display:flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 90vh;
}

.tabuleiro{     
    aspect-ratio: 1 / 1;
    margin: 2vmin;
    display: grid;
    background-color: hsl(200, 100%, 50%);
    grid-template-rows: repeat(10, 1fr);    /*Mudança para 1 frame para melhorar a responsividade*/
    grid-template-columns: repeat(10, 1fr);
    width: 85vmin;      /* Limita o tabuleiro a 90% da largura da tela */
    height: 85vmin;     /* Limita o tabuleiro a 90% da altura da tela */
    max-width: 600px;   /* Limita o tamanho máximo para telas grandes */
    max-height: 600px; 
}

/* Borda dos quadrados do tabuleiro */
/*Antiga cor das bordas hsl(0, 0%, 100%)*/
.tabuleiro div{
    border: 1px solid var(--cor-de-fundo); 
    box-sizing: border-box;    
    cursor: pointer;
}

.tabuleiro div.ocupado{
    background-color: black;    /* Cor temporaria apenas para fins de desenvolvimento */
}

/* ---------- Parte das Bombas ----------- */

/* Temporario, apenas para fins de desenvolvimento*/
.tabuleiro div.bomba{
    background-color: red;
}

.tabuleiro div.explosao{
    /* Aqui será a imagem da bomba (o dia que houver) */
    background-color: rgb(255, 94, 0);
}