@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

header{
h1 {
    text-align: center;
    font-size: 70px;
    color: white;
    font-family: "Tektur", sans-serif;
    padding: 20px;    
}
p {
    color: white;
    text-align: justify;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 10px;
}
}

body {
    background-color: rgb(19, 19, 124);
    overflow-y: visible;
}
    div .regras{
        margin: 0 20%;
        padding: 20px;
        background-color: aliceblue;
        border: 2px;
        border-radius: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: justify;
        h3 {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: black;
            text-align: center;
            padding: 10px;
        }
    }
    section {
            display: flex;
            flex-direction: column;
            margin: 5px;
            }
            .navios {
                padding: 0;
                margin-left: 5px;
                text-decoration: none;
            }
            .Lista_regras {
                list-style-position: inside ;
            }
            .Lista_Navios {
             abbr{
                text-decoration: none;
                em {
                    color:rgb(186, 7, 7);
                    cursor: pointer;
                }
            }
            }
            
        

