@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

:root{
    --cor-de-fundo: rgb(19, 19, 124);
    --cor-de-letra: #fff;
    --letra-preta: #333;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*-------------------- Parte do titulo, descrição e imagem da pagina de inicio  ------------------*/

header{
    .titulo {
        color: var(--cor-de-letra);
        text-align: center;
        font-size: 70px;
        font-family: "Tektur", sans-serif;
        padding: 20px;    
    }

    p {
        color: var(--cor-de-letra);
        text-align: center;
        padding-bottom: 10px;
    }
}

/*----------------------------------- Parte do quadrado de regras -------------------------------------------*/
.regras{
    margin: 0 20%;
    padding: 2% 2%;
    background-color: aliceblue;
    border: 2px;
    border-radius: 20px;
    text-align: justify;
    h3 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: var(--letra-preta);
        text-align: center;
        padding-bottom: 1%;
    }
}

.navios {
    padding: 0;
    margin-left: 4%;
    text-decoration: none;
}

.Lista_regras {
    list-style-position: inside ;
}

.Lista_Navios {
    abbr{
        text-decoration: none;
        em {
            color:rgb(186, 7, 7);
            cursor: pointer;
        }
    }
}

/* ------------------- Parte do Footer -------------------------*/
.rodape {
    background-color: aliceblue;
    text-align: center;
    font-size: 0.8pc;
    margin-top: 1%;
    padding: 1%;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* ------------------- Parte do Botão Start ------------------- */
.botao{
    background-color: hsl(30, 100%, 50%);
    margin: 2%;
    text-align: center;
    font-weight: bold;
    padding: .5em 1em;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: .2rem;
    text-decoration: none;
    color: var(--letra-preta);
}

.botao:hover, .botao:focus{
    background-color: hsl(30, 100%, 40%);
    transition: 0.3s;
}
/* Janela Modal */ 

.janela-modal{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.342);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.modal {
    width: 60%;
    min-height: 200px;
    min-width: 650px;
    background-color: #ffffff81;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 30px;
}

.fechar {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.btn {
    background-color: orange;
    text-align: center;
}
.btn:hover {
    background-color: aliceblue;
    cursor: pointer;
}
.janela-modal.abrir{
    display: flex;
}
/* ------------------- Parte do Tabuleiro ------------------- */
.jogo{
    display: none;
}

.container{
    display:flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 90vh;
}

.tabuleiro{     
    aspect-ratio: 1 / 1;
    margin: 2vmin;
    display: grid;
    background-color: hsl(200, 100%, 50%);
    grid-template-rows: repeat(10, 1fr);    /*Mudança para 1 frame para melhorar a responsividade*/
    grid-template-columns: repeat(10, 1fr);
    width: 85vmin;      /* Limita o tabuleiro a 90% da largura da tela */
    height: 85vmin;     /* Limita o tabuleiro a 90% da altura da tela */
    max-width: 600px;   /* Limita o tamanho máximo para telas grandes */
    max-height: 600px; 
}

.tabuleiro div{
    border: 1px solid var(--cor-de-fundo); 
    box-sizing: border-box;    
    cursor: pointer;
}

/* Cor dos barcos temporaria, apenas para fins de desenvolvimento 
.tabuleiro div.ocupado{
    background-color: rgb(255, 255, 255);    
}*/

.tabuleiro div.clicado{
    background-color: aqua;
}

.tabuleiro div.acerto {
    background-image: url(img/brilho.png);
    background-size: contain;       
    background-repeat: no-repeat;    
    background-position: center;     
    background-color: black;  
}

/* ------------------- Parte das imagens dos barcos ------------------- */

/* QUANDO TIVERMOS AS IMAGENS AI ATIVAMOS ISSO 
.tabuleiro div.navio-revelado {
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    animation: revelarNavio 0.5s ease-in-out forwards;
}

@keyframes revelarNavio {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}*/

.navio-submarino-afundado {
    background-color: rgb(0, 255, 85) !important;
    animation: vibrar 0.2s infinite alternate;
}

.navio-porta-avioes-afundado{
    background-color: rgb(255, 0, 140) !important;
    animation: vibrar 0.2s infinite alternate;
}

.navio-navio-tanque-afundado{
    background-color: rgb(255, 208, 0) !important;
    animation: vibrar 0.2s infinite alternate;
}

.navio-destrutor-afundado{
    background-color: rgb(255, 0, 255) !important;
    animation: vibrar 0.2s infinite alternate;
}

.navio-fragata-afundado{
    background-color: rgb(76, 0, 255) !important;
    animation: vibrar 0.2s infinite alternate;
}

/* ------------------- Parte das Bombas ------------------- */
/* Cor das bombas temporaria, apenas para fins de desenvolvimento
.tabuleiro div.bomba{
    background-color: red; 
}*/

.tabuleiro div.explosao{
    /* Aqui será a imagem da bomba (o dia que houver) */
    background-color: rgb(255, 94, 0);
}

/* ------------------- Parte das Vidas ------------------- */
#vidas{
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    margin-top: 10px;
}

.vida{
    transition: filter 0.3s ease;
}

.vida.perdida{
    /* Deixa o coração de vida cinza */
    filter: grayscale(1) brightness(0.5);
}
